body {
  display: flex;
  background-color: #ade7ff;
  color: #6066ff;
  padding: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Verdana;
}

h1 {
  color: #0c399b;
  font-size: 50px;
}

h2 {
  padding: 30px;
}

.equals {
  padding: 0px;
}
